@page "{id}"
@using _01_Framework.Application;
@model ServiceHost.Pages.ProductModel
@{
    ViewData["Title"] = Model.Product.Name;
    ViewData["Keywords"] = Model.Product.Keywords;
    ViewData["Description"] = Model.Product.MetaDescription;
}

@section Css {
    <link rel="stylesheet" href="~/Theme/assets/vendor/glightbox/glightbox.min.css">
}

<!-- Breadcrumb -->
<nav class="container position-relative z-2 pt-lg-2 mt-3 mt-lg-4" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/">خانه</a></li>
        <li class="breadcrumb-item"><a asp-page="./ProductCategory" asp-route-id="@Model.Product.CategorySlug">@Model.Product.Category</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Product.Name</li>
    </ol>
</nav>

<!-- Product gallery + Product details -->
<section class="container pt-md-4 pb-5 mt-md-2 mt-lg-3 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">
    <div class="row align-items-start">

        <!-- Product gallery -->
        <div class="col-md-6 col-lg-7 sticky-md-top z-1 mb-4 mb-md-0" style="margin-top: -120px">
            <div class="d-flex" style="padding-top: 120px">

                <!-- Thumbnails -->
                <div class="swiper swiper-load swiper-thumbs d-none d-lg-block w-100 me-xl-3" id="thumbs"
                     data-swiper="{
                &quot;direction&quot;: &quot;vertical&quot;,
                &quot;spaceBetween&quot;: 12,
                &quot;slidesPerView&quot;: 4,
                &quot;watchSlidesProgress&quot;: true
              }" style="max-width: 96px; height: 420px;">
                    <div class="swiper-wrapper flex-column">

                        <div class="swiper-slide swiper-thumb">
                            <div class="ratio ratio-1x1" style="max-width: 94px">
                                <img src="~/ProductPictures/@Model.Product.Picture" class="swiper-thumb-img"
                                     alt="@Model.Product.PictureAlt" title="@Model.Product.PictureTitle">
                            </div>
                        </div>

                        @foreach (var picture in Model.Product.Pictures)
                        {
                            <div class="swiper-slide swiper-thumb">
                                <div class="ratio ratio-1x1" style="max-width: 94px">
                                    <img src="~/ProductPictures/@picture.Picture" class="swiper-thumb-img"
                                         alt="@picture.PicutreAlt" title="@picture.PictureTitle">
                                </div>
                            </div>
                        }

                    </div>
                </div>

                <!-- Preview (Large image) -->
                <div class="swiper w-100" data-swiper="{
                &quot;loop&quot;: false,
                &quot;thumbs&quot;: {
                  &quot;swiper&quot;: &quot;#thumbs&quot;
                },
                &quot;pagination&quot;: {
                  &quot;el&quot;: &quot;.swiper-pagination&quot;,
                  &quot;clickable&quot;: true
                }
              }">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="ratio ratio-1x1 d-block cursor-zoom-in"
                               href="~/ProductPictures/@Model.Product.Picture" data-glightbox=""
                               data-gallery="product-gallery">
                                <img src="~/ProductPictures/@Model.Product.Picture" alt="@Model.Product.PictureAlt" title="@Model.Product.PictureTitle">>
                            </a>
                        </div>
                        @foreach (var picture in Model.Product.Pictures)
                        {
                            <div class="swiper-slide">
                                <a class="ratio ratio-1x1 d-block cursor-zoom-in"
                                   href="~/ProductPictures/@picture.Picture" data-glightbox=""
                                   data-gallery="product-gallery">
                                    <img src="~/ProductPictures/@picture.Picture" alt="@picture.PicutreAlt" title="@picture.PictureTitle">
                                </a>
                            </div>
                        }
                    </div>

                    <!-- Slider pagination (Bullets) visible on screens > 991px wide (lg breakpoint) -->
                    <div class="swiper-pagination mb-n3 d-lg-none"></div>
                </div>
            </div>
        </div>


        <!-- Product details -->
        <div class="col-md-6 col-lg-5 position-relative">
            <div class="ps-xxl-3">
                <h1 class="h5 mb-2">@Model.Product.Name</h1>
                @if (Model.Product.IsInStock)
                {
                    <div class="fw-medium">موجود در انبار</div>
                }
                else
                {
                    <div class="fw-medium text-danger">ناموجود</div>
                }
                @if (Model.Product.HasDiscount)
                {
                    <div class="h3 mb-2">
                        @Model.Product.PriceWithDiscount.ToPersianNumber() تومان
                        <del class="h5 ms-1 text-body-tertiary">@Model.Product.Price.ToPersianNumber() تومان</del>
                    </div>

                    <!-- Countdown example without years label -->
                    <div class="d-flex justify-content-center m-4" data-countdown-date="@DateTime.Parse(Model.Product.DiscountExpireDate).ToString("MM/dd/yyyy") 24:00:00 UTC+03:30">
                        <div class="text-center">
                            <div class="h4 mb-0" data-seconds></div>
                            <span class="fs-sm">ثانیه</span>
                        </div>
                        <span class="animate-blinking text-body-secondary fs-xl mx-2">:</span>
                        <div class="text-center">
                            <div class="h4 mb-0" data-minutes></div>
                            <span class="fs-sm">دقیقه</span>
                        </div>
                        <span class="animate-blinking text-body-secondary fs-xl mx-2">:</span>
                        <div class="text-center">
                            <div class="h4 mb-0" data-hours></div>
                            <span class="fs-sm">ساعت</span>
                        </div>
                        <span class="animate-blinking text-body-secondary fs-xl mx-2">:</span>
                        <div class="text-center">
                            <div class="h4 mb-0" data-days></div>
                            <span class="fs-sm">روز</span>
                        </div>
                    </div>

                }
                else
                {
                    <div class="h3 mb-2">
                        @Model.Product.Price.ToPersianNumber() تومان
                    </div>
                }



                <div class="d-flex gap-3 mb-4">
                    <div class="count-input flex-shrink-0 rounded-pill">
                        <button type="button" class="btn btn-icon btn-lg" data-decrement=""
                                aria-label="Decrement quantity" disabled="">
                            <i class="ci-minus"></i>
                        </button>
                        <input type="number" class="form-control form-control-lg" value="1" min="1" readonly="">
                        <button type="button" class="btn btn-icon btn-lg" data-increment=""
                                aria-label="Increment quantity">
                            <i class="ci-plus"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-lg btn-primary rounded-pill w-100">افزودن به سبد خرید</button>
                </div>
                <p class="fs-sm mb-4">
                    @Model.Product.ShortDescription
                </p>

                <!-- Product info accordion -->
                <div class="accordion accordion-alt-icon py-2 mb-4" id="productAccordion">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingProductInfo">
                            <button type="button" class="accordion-button animate-underline collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#productInfo" aria-expanded="false"
                                    aria-controls="productInfo">
                                <span class="animate-target me-2">توضیحات بیشتر محصول</span>
                            </button>
                        </h3>
                        <div class="accordion-collapse collapse" id="productInfo"
                             aria-labelledby="headingProductInfo" data-bs-parent="#productAccordion">
                            <div class="accordion-body">
                                @Model.Product.Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <p class="h3">نظرات</p>
    <!-- Product review -->
    @if (Model.Product.Comments.Count == 0)
    {
        <p class="border-bottom pb-3">نظری برای محصول @Model.Product.Name ثبت نشده است</p>
    }
    @foreach (var comment in Model.Product.Comments)
    {
        <div class="border-top border-bottom py-3">
            <div class="d-flex align-items-center mb-3">
                <div class="text-nowrap me-3">
                    <span class="h6 mb-0">@comment.Name</span>
                </div>
                <span class="text-body-secondary fs-sm ms-auto">@comment.CreationDate</span>
            </div>
            <div class="d-flex gap-1 fs-sm pb-2 mb-1">
                <i class="ci-star-filled text-warning"></i>
                <i class="ci-star-filled text-warning"></i>
                <i class="ci-star-filled text-warning"></i>
                <i class="ci-star-filled text-warning"></i>
                <i class="ci-star-filled text-warning"></i>
            </div>
            <p class="fs-sm">@comment.Message</p>
            <div class="nav align-items-center">
                <button type="button" class="nav-link animate-underline px-0">
                    <i class="ci-corner-down-right fs-base ms-1 me-1"></i>
                    <span class="animate-target">Reply</span>
                </button>
                <button type="button" class="nav-link text-body-secondary animate-scale px-0 ms-auto me-n1">
                    <i class="ci-thumbs-up text-success fs-base animate-target me-1"></i>
                    29
                </button>
                <hr class="vr my-2 mx-3">
                <button type="button" class="nav-link text-body-secondary animate-scale px-0 ms-n1">
                    <i class="ci-thumbs-down text-danger fs-base animate-target me-1"></i>
                    5
                </button>
            </div>

            <!-- Reply -->
            <div class="ps-3 pb-2">
                <div class="d-flex align-items-center pt-3 pb-2 mb-1">
                    <span class="badge bg-primary me-2">Reply</span>
                    <span class="h6 mb-0 me-4">Cartzilla Company</span>
                    <span class="text-body-secondary fs-sm">May 8, 2024</span>
                </div>
                <p class="fs-sm mb-0">Thank you for your feedback! We are glad that you were satisfied with your purchase :)</p>
            </div>
        </div>
    }

</section>


<!-- Bought together carousel -->
<section class="container pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">
    <div class="d-flex align-items-center justify-content-between border-bottom pb-3 pb-md-4 mb-3 mb-md-4">
        <h2 class="h3 mb-0">محصولات مرتبط</h2>

        <!-- Slider prev/next buttons -->
        <div class="d-flex gap-2 ms-3">
            <button type="button"
                    class="btn btn-icon btn-outline-secondary animate-slide-start rounded-circle me-1" id="prevBtn"
                    aria-label="Prev">
                <i class="ci-chevron-left fs-lg animate-target"></i>
            </button>
            <button type="button" class="btn btn-icon btn-outline-secondary animate-slide-end rounded-circle"
                    id="nextBtn" aria-label="Next">
                <i class="ci-chevron-right fs-lg animate-target"></i>
            </button>
        </div>
    </div>

    <!-- Slider -->
    <div class="swiper" data-swiper="{
              &quot;slidesPerView&quot;: 2,
              &quot;spaceBetween&quot;: 24,
              &quot;loop&quot;: true,
              &quot;navigation&quot;: {
                &quot;prevEl&quot;: &quot;#prevBtn&quot;,
                &quot;nextEl&quot;: &quot;#nextBtn&quot;
              },
              &quot;breakpoints&quot;: {
                &quot;500&quot;: {
                  &quot;slidesPerView&quot;: 3
                },
                &quot;768&quot;: {
                  &quot;slidesPerView&quot;: 4
                },
                &quot;1100&quot;: {
                  &quot;slidesPerView&quot;: 5
                }
              }
            }">
        <div class="swiper-wrapper">

            @foreach (var product in Model.RelatedProducts)
            {
                <!-- Product -->
                <div class="swiper-slide h-auto">
                    <div class="card product-card h-100 bg-transparent border-0 shadow-none">
                        <div class="position-relative z-2">

                            @if (product.HasDiscount)
                            {
                                <span class="badge text-bg-danger position-absolute top-0 start-0 z-2 mt-1 mt-sm-2 ms-1 ms-sm-2">@product.DiscountRate%</span>
                            }

                            <button type="button"
                                    class="btn btn-icon btn-sm btn-secondary animate-pulse fs-sm bg-body border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2"
                                    aria-label="Add to Wishlist">
                                <i class="ci-heart animate-target"></i>
                            </button>
                            <a class="d-block p-2 p-lg-3" asp-page="/Product" asp-route-id="@product.Slug">
                                <div class="ratio" style="--cz-aspect-ratio: calc(160 / 191 * 100%)">
                                    <img src="~/ProductPictures/@product.Picture" alt="@product.PictureAlt" title="@product.PictureTitle">
                                </div>
                            </a>
                            <div class="position-absolute w-100 start-0 bottom-0">
                                <div class="d-flex justify-content-end px-2 px-lg-3 pb-2 pb-lg-3">
                                    <div class="count-input count-input-collapsible collapsed justify-content-between w-100 bg-transparent border-0 rounded-2">
                                        <button type="button" class="btn btn-icon btn-sm btn-primary"
                                                data-decrement="" aria-label="Decrement quantity">
                                            <i class="ci-minus fs-sm"></i>
                                        </button>
                                        <input type="number"
                                               class="form-control form-control-sm bg-primary text-white w-100"
                                               value="0" min="0" readonly="">
                                        <button type="button"
                                                class="product-card-button btn btn-icon btn-sm btn-secondary ms-auto"
                                                data-increment="" aria-label="Increment quantity">
                                            <span data-count-input-value=""></span>
                                            <i class="ci-plus fs-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0 px-1 px-md-2 px-lg-3 pb-2">
                            @if (product.HasDiscount)
                            {
                                <div class="h6 mb-2">
                                    @product.PriceWithDiscount.ToPersianNumber() تومان
                                    <del class="fs-sm fw-normal text-body-tertiary ms-1">@product.Price.ToPersianNumber() تومان</del>
                                </div>
                            }
                            else
                            {
                                <div class="h6 mb-2">
                                    @product.Price.ToPersianNumber() تومان
                                </div>
                            }

                            <h3 class="fs-sm lh-base mb-0">
                                <a class="hover-effect-underline fw-normal" asp-page="/Product" asp-route-id="@product.Slug">@product.Name</a>
                            </h3>
                        </div>
                        @if (product.IsInStock)
                        {
                            <div class="fs-xs text-body-secondary px-1 px-md-2 px-lg-3 pb-2 pb-md-3">موجود</div>
                        }
                        else
                        {
                            <div class="fs-xs text-danger px-1 px-md-2 px-lg-3 pb-2 pb-md-3">نا موجود</div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- CTA banners -->
@await Html.PartialAsync("CTABanner")
                    ;

@section Scripts {
    <script src="~/Theme/assets/vendor/glightbox/glightbox.min.js"></script>
    <script src="~/Theme/assets/vendor/timezz/timezz.js"></script>
}