@page
@using AccountManagement.Configuration.Permissions;
@model ServiceHost.Areas.Administration.Pages.Accounts.Account.IndexModel
@{
    ViewData["title"] = "مدیریت کاربران";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div permission="@AccountPermission.SearchAccount">
    <div class="col-12">
        <h3 class="panel-title">جستجو در محصولات</h3>
        <form method="get">
            <div class="d-flex mb-4">
                <input class="form-control" asp-for="SearchModel.Fullname" placeholder="نام">
                <input class="form-control" asp-for="SearchModel.Username" placeholder="نام کاربری">
                <input class="form-control" asp-for="SearchModel.Mobile" placeholder="موبایل">
                <select class="form-control" asp-for="SearchModel.RoleId" asp-items="Model.Roles">
                    <option value="0">نقش</option>
                </select>
            </div>
            <div class="float-start">
                <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
            </div>
        </form>
    </div>
</div>

<div style="clear:both"></div>

<div class="col-12">
    <div class="demo-inline-spacing" permission="@AccountPermission.RegisterAccount">
        <a class="btn btn-outline-success" href="#showmodal=@Url.Page("./Index" , "Create")">
            <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; ایجاد کاربر جدید
        </a>
    </div>
</div>

<hr />

<div class="card" permission="@AccountPermission.ListAccount">
    <h5 class="card-header">لیست کاربران</h5>
    <div class="card-datatable table-responsive">
        <table class="dt-responsive table border-top">
            <thead>
                <tr>
                    <th>#</th>
                    <th>عکس</th>
                    <th>نام</th>
                    <th>نام کاربری</th>
                    <th>موبایل</th>
                    <th>نقش</th>
                    <th>تاریخ تولید</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var item in Model.Accounts)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            <img src="~/ProductPictures/@item.ProfilePhoto" style="width: 70px; height: 70px" />
                        </td>
                        <td>@item.Fullname</td>
                        <td>@item.Username</td>
                        <td>@item.Mobile</td>
                        <td>@item.Role</td>
                        <td>@item.CreationDate</td>

                        <td>
                            <a Permission="@AccountPermission.EditAccount" class="btn btn-warning waves-effect waves-light m-b-5"
                               href="#showmodal=@Url.Page("./Index", "Edit", new { id = item.Id})">
                                <i class="fa fa-edit"></i> ویرایش
                            </a>

                            <a Permission="@AccountPermission.ChangePassword" class="btn btn-primary waves-effect waves-light m-b-5"
                               href="#showmodal=@Url.Page("./Index", "ChangePassword", new { id = item.Id})">
                                <i class="fa fa-edit"></i> تغیر رمز
                            </a>

                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>