@page
@using BlogManagement.Infrastructure.Configuration.Permissions;
@model ServiceHost.Areas.Administration.Pages.Blog.Articles.IndexModel
@{
    ViewData["title"] = "مدیریت مقالات";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div permission="@BlogPermission.SearchArticles">
    <div class="col-12">
        <h6 class="panel-title">جستجو در مقالات</h6>
        <form method="get">
            <div class="row mb-3">
                <div class="col-6">
                    <input class="form-control" asp-for="SearchModel.Title" placeholder=" عنوان مقاله">
                </div>
                <div class="col-6">
                    <select asp-items="Model.ArticleCategories" class="form-control" asp-for="SearchModel.CategoryId">
                        <option value="0">گروه مقاله ...</option>
                    </select>
                </div>
            </div>

            <div class="float-start">
                <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
            </div>

        </form>
    </div>
</div>

<div style="clear:both"></div>

<div class="col-12">
    <div class="demo-inline-spacing" permission="@BlogPermission.CreateArticle">
        <a class="btn btn-outline-success" asp-page="./Create">
            <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; ایجاد مقاله جدید
        </a>
    </div>
</div>

<hr />

<div class="card" permission="@BlogPermission.ListArticleCategories">
    <h5 class="card-header">لیست مقالات</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>عکس</th>
                    <th>عنوان</th>
                    <th>گروه</th>
                    <th>توضیحات کوتاه</th>
                    <th>تاریخ انتشار</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var item in Model.Articles)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            <img src="~/ProductPictures/@item.Picture" style="width: 70px; height: 70px" />
                        </td>
                        <td>@item.Title</td>
                        <td>@item.Category</td>
                        <td>@item.ShortDescription</td>
                        <td>@item.PublishDate</td>
                        <td>
                            <a Permission="@BlogPermission.EditArticleCategory" class="btn btn-warning pull-right m-rl-5" asp-page="./Edit" asp-route-id="@item.Id">
                                <i class="fa fa-edit"></i> ویرایش
                            </a>
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>