@page
@using AccountManagement.Configuration.Permissions;
@model ServiceHost.Areas.Administration.Pages.Accounts.Role.IndexModel
@{
    ViewData["title"] = "مدیریت نقش ها";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div style="clear:both"></div>

<div class="col-12">
    <div class="demo-inline-spacing" permission="@AccountPermission.CreateRole">
        <a class="btn btn-outline-success" asp-page="./Create">
            <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; ایجاد نقش جدید
        </a>
    </div>
</div>

<hr />

<div class="card" permission="@AccountPermission.ListRole">
    <h5 class="card-header">لیست کاربران</h5>
    <div class="card-datatable table-responsive">
        <table class="dt-responsive table border-top">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>تاریخ تولید</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var item in Model.Roles)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.CreationDate</td>

                        <td>
                            <a Permission="@AccountPermission.EditRole" class="btn btn-warning waves-effect waves-light m-b-5" asp-page="./Edit" asp-route-id="@item.Id">
                                <i class="fa fa-edit"></i> ویرایش
                            </a>
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>