@page
@using InventoryManagement.Infrastructure.Configuration.Permissions;
@model ServiceHost.Areas.Administration.Pages.Inventory.IndexModel
@{
    ViewData["Title"] = "مدیریت انبار";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div permission="@InventoryPermissions.SearchInventory">
    <div class="col-12">
        <h6 class="panel-title">جست و جو در انبار</h6>
        <form method="get">
            <div class="row mb-3">
                <div class="col-12">
                    <select asp-items="Model.Products" class="form-control" asp-for="SearchModel.ProductId">
                        <option value="0">گروه محصولی ...</option>
                    </select>
                </div>
            </div>

            <div class="float-start">
                <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
            </div>

        </form>
    </div>
</div>

<div style="clear:both"></div>

<div class="col-12">
    <div class="demo-inline-spacing" permission="@InventoryPermissions.CreateInventory">
        <a class="btn btn-outline-success" href="#showmodal=@Url.Page("./Index" , "Create")">
            <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; ایجاد انبار جدید
        </a>
    </div>
</div>

<hr />

<div class="card" permission="@InventoryPermissions.ListInventory">
    <h5 class="card-header">لیست انبار ها</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>محصول</th>
                    <th>قیمت</th>
                    <th>موجودی انبار</th>
                    <th>تاریخ تولید</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var inventory in Model.Inventory)
                {
                    <tr>
                        <td>@inventory.Id</td>
                        <td>@inventory.Product</td>
                        <td>@inventory.UnitPrice</td>
                        <td>@inventory.CurrentCount</td>
                        <td>@inventory.CreationDate</td>

                        <td>
                            <a Permission="@InventoryPermissions.EditInventory" class="btn btn-warning waves-effect waves-light m-b-5"
                               href="#showmodal=@Url.Page("./Index", "Edit" , new {id = inventory.Id})">
                                <i class="fa fa-edit"></i> ویرایش
                            </a>

                            <a Permission="@InventoryPermissions.Increase" class="btn btn-success waves-effect waves-light m-b-5"
                               href="#showmodal=@Url.Page("./Index", "Increase" , new {id = inventory.Id})">
                                <i class="fa fa-plus"></i> افزایش موجودی
                            </a>

                            <a Permission="@InventoryPermissions.Reduce" class="btn btn-secondary waves-effect waves-light m-b-5"
                               href="#showmodal=@Url.Page("./Index", "Reduce" , new {id = inventory.Id})">
                                <i class="fa fa-minus"></i> کاهش موجودی
                            </a>

                            <a Permission="@InventoryPermissions.OperationLog" class="btn btn-primary waves-effect waves-light m-b-5"
                               href="#showmodal=@Url.Page("./Index", "Log", new {id = inventory.Id})"
                               onclick="$('.modal-dialog').css('width', '60%')">
                                <i class="fa fa-recycle"></i> مشاهده گردنش انبار
                            </a>

                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>