@page
@using BlogManagement.Infrastructure.Configuration.Permissions;
@model ServiceHost.Areas.Administration.Pages.Blog.ArticleCategories.IndexModel
@{
    ViewData["title"] = "مدیریت گروه مقالات";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div permission="@BlogPermission.SearchArticleCategories">
    <div class="col-12">
        <h6 class="panel-title">جستجو در گروه مقالات</h6>
        <form method="get">
            <div class="row mb-3">
                <div class="col-12">
                    <input class="form-control" asp-for="SearchModel.Name" placeholder="نام گروه مقاله">
                </div>
            </div>

            <div class="float-start">
                <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
            </div>

        </form>
    </div>
</div>

<div style="clear:both"></div>

<div class="col-12">
    <div class="demo-inline-spacing" permission="@BlogPermission.CreateArticleCategory">
        <a class="btn btn-outline-success" href="#showmodal=@Url.Page("./Index" , "Create")">
            <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; ایجاد گروه مقاله جدید
        </a>
    </div>
</div>

<hr />

<div class="card" permission="@BlogPermission.ListArticleCategories">
    <h5 class="card-header">لیست گروه مقالات</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>عکس</th>
                    <th>نام</th>
                    <th>توضیحات کوتاه</th>
                    <th>ترتیب نمایش</th>
                    <th>تعداد مقالات</th>
                    <th>تاریخ تولید</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var item in Model.ArticleCategories)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            <img src="~/ProductPictures/@item.Picture" style="width: 70px; height: 70px" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.ShowOrder</td>
                        <td>@item.ArticlesCount</td>
                        <td>@item.CreationDate</td>
                        <td>
                            <a Permission="@BlogPermission.EditArticleCategory" class="btn btn-warning pull-right m-rl-5"
                               href="#showmodal=@Url.Page("./Index", "Edit", new { id = item.Id})">
                                <i class="fa fa-edit"></i> ویرایش
                            </a>
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>