@page
@using ShopManagement.Configuration.Permissions;
@using _01_Framework.Application;
@model ServiceHost.Areas.Administration.Pages.Shop.Orders.IndexModel
@{
    ViewData["title"] = "مدیریت سفارشات";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div permission="@ShopPermissions.SearchOrders">
    <div class="col-12">
        <h3 class="panel-title">جستجو در سفارشات</h3>


        <form method="get">
            <div class="d-flex mb-4">
                <select class="form-control w-75" asp-for="SearchModel.AccountId" asp-items="Model.Accounts">
                    <option value="0">انتخاب کاربر خریدار ...</option>
                </select>

                <div style="margin-right:10px;margin-top:10px">
                    <input asp-for="SearchModel.IsCanceled" class="form-check-input" type="checkbox" value="true" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        جستجو در لغو شده ها
                    </label>
                </div>
            </div>

            <div class="float-start">
                <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
            </div>
        </form>

    </div>
</div>

<div style="clear:both"></div>

<hr />

<div class="card" permission="@ShopPermissions.ListOrders">
    <h5 class="card-header">لیست کاربران</h5>
    <div class="card-datatable table-responsive">
        <table class="dt-responsive table border-top">
            <thead>
                <tr>
                    <th>#</th>
                    <th>خریدار</th>
                    <th>کل</th>
                    <th>کل تخفیف</th>
                    <th>پرداختی</th>
                    <th>نحوه پرداخت</th>
                    <th>شماره پیگیری</th>
                    <th>شناسه خرید</th>
                    <th>تاریخ خرید</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.AccountFullName</td>
                        <td>@item.TotalAmount.ToMoney()</td>
                        <td>@item.DiscountAmount.ToMoney()</td>
                        <td>@item.PayAmount.ToMoney()</td>
                        <td>@item.PaymentMethod</td>
                        <td>@item.IssueTrackingNo</td>
                        <td>@item.RefId</td>
                        <td>@item.CreationDate</td>
                        <td>
                            @if (item.IsCanceled)
                            {
                                <span class="text-danger">کنسل شده</span>
                            }
                            @if (item.IsPaid)
                            {
                                <span class="text-success">پرداخت شده</span>
                            }
                            @if (!item.IsCanceled && !item.IsPaid)
                            {
                                <span class="text-warning">در انتظار پرداخت</span>
                            }
                        </td>
                        <td>
                            @if (item.IsPaid == false)
                            {
                                <a class="btn btn-success pull-right m-rl-5" asp-page-handler="Confirm" asp-route-orderId="@item.Id">
                                    <i class="fa fa-check"></i> تایید
                                </a>
                                <a class="btn btn-danger pull-right m-rl-5" asp-page-handler="Cancel" asp-route-orderId="@item.Id">
                                    <i class="fa fa-close"></i> لغو
                                </a>
                            }
                            <a class="btn btn-primary pull-right m-rl-5"
                               href="#showmodal=@Url.Page("./Index", "Items", new {orderId = item.Id})">
                                <i class="fa fa-id-card"></i> آیتم ها
                            </a>
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>