@page
@using CommentManagement.Infrastructure.Configuration.Permissions;
@model ServiceHost.Areas.Administration.Pages.Comments.IndexModel
@{
    ViewData["Title"] = "مدیریت نظرات";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div permission="@CommentPermission.SearchComment">
    <div class="col-12">
        <h3 class="panel-title">جستجو در نظرات</h3>
        <form method="get">
            <div class="d-flex mb-4">
                <input class="form-control" asp-for="SearchModel.Name" placeholder="نام">
                <input class="form-control" asp-for="SearchModel.Email" placeholder="ایمیل">
            </div>
            <div class="float-start">
                <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
            </div>
        </form>
    </div>
</div>

<div style="clear:both"></div>

<hr />

<div class="card" permission="@CommentPermission.ListComments">
    <h5 class="card-header">لیست کاربران</h5>
    <div class="card-datatable table-responsive">
        <table class="dt-responsive table border-top">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>ایمیل</th>
                    <th>نظر</th>
                    <th>تاریخ</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var comment in Model.Comments)
                {
                    <tr>
                        <td>@comment.Id</td>
                        <td>@comment.Name</td>
                        <td>@comment.Email</td>
                        <td>@comment.Message</td>
                        <td>@comment.CommentDate</td>

                        <td class="text-center">
                            @if (comment.IsCanceled)
                            {
                                <span class="text-danger">کنسل شده</span>
                            }
                            @if (!comment.IsCanceled && !comment.IsConfirmed)
                            {
                                <span class="text-warning">در انتظار</span>
                            }
                            @if (!comment.IsCanceled && comment.IsConfirmed)
                            {
                                <span class="text-success">تایید شده</span>
                            }
                        </td>
                        <td>

                            <a Permission="@CommentPermission.CancelComment" class="btn btn-danger waves-effect waves-light m-b-5" asp-page="./Index" asp-page-handler="Cancel" asp-route-id="@comment.Id">کنسل</a>


                            @if (!comment.IsCanceled && !comment.IsConfirmed)
                            {
                                <a Permission="@CommentPermission.ConfirmComment" class="btn btn-success waves-effect waves-light m-b-5" asp-page="./Index" asp-page-handler="Confirm" asp-route-id="@comment.Id">تایید</a>
                            }

                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>