@page
@using DiscountManagement.Configuration.Permissions;
@model ServiceHost.Areas.Administration.Pages.Discounts.CustomerDiscount.IndexModel
@{
    ViewData["Title"] = "مدیریت تخفیف مشتریان";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div permission="@DiscountPermission.SearchCustomerDiscounts">
    <div class="col-12">
        <h3 class="panel-title">جستجو در تخفیف مشتریان</h3>
        <form method="get">
            <div class="d-flex mb-4">
                <input asp-for="SearchModel.StartDate" class="form-control persianDateInput">
                <input asp-for="SearchModel.EndDate" class="form-control persianDateInput">
                <select asp-items="Model.Products" class="form-control" asp-for="SearchModel.ProductId">
                    <option value="0">گروه محصولی ...</option>
                </select>
            </div>
            <div class="float-start">
                <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
            </div>
        </form>
    </div>
</div>

<div style="clear:both"></div>

<div class="col-12">
    <div class="demo-inline-spacing" permission="@DiscountPermission.DefineCustomerDiscount">
        <a class="btn btn-outline-success" href="#showmodal=@Url.Page("./Index" , "Create")">
            <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; تعریف تخفیف مشتری
        </a>
    </div>
</div>

<hr />

<div class="card" permission="@DiscountPermission.ListColleagueDiscounts">
    <h5 class="card-header">لیست کاربران</h5>
    <div class="card-datatable table-responsive">
        <table class="dt-responsive table border-top">
            <thead>
                <tr>
                    <th>#</th>
                    <th>محصول</th>
                    <th>درصد تخفیف</th>
                    <th>تاریخ شروع</th>
                    <th>تاریخ ایحاد</th>
                    <th>علت تخفیف</th>
                    <th>تاریخ تولید</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var customerDiscount in Model.CustomerDiscounts)
                {
                    <tr>
                        <td>@customerDiscount.Id</td>
                        <td>@customerDiscount.Product</td>
                        <td>@customerDiscount.DiscountRate</td>
                        <td>@customerDiscount.StartDate</td>
                        <td>@customerDiscount.EndDate</td>
                        <td>@customerDiscount.Reason</td>
                        <td>@customerDiscount.CreationDate</td>
                        <td>
                            <a Permission="@DiscountPermission.EditCustomerDiscount" class="btn btn-warning waves-effect waves-light m-b-5"
                               href="#showmodal=@Url.Page("./Index", "Edit" , new {id = customerDiscount.Id})">
                                <i class="fa fa-edit"></i> ویرایش
                            </a>
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>
