@page
@using ShopManagement.Infrastructure.Configuration.Permissions;
@model ServiceHost.Areas.Administration.Pages.Shop.Product.IndexModel
@{
    ViewData["title"] = "مدیریت محصولات";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div permission="@ShopPermissions.SearchProducts">
    <div class="col-12">
        <h6 class="panel-title">جستجو در محصولات</h6>
        <form method="get">
            <div class="row mb-3">
                <div class="col-6">
                    <input class="form-control" asp-for="SearchModel.Name" placeholder="نام محصول">
                </div>
                <div class="col-6">
                    <input class="form-control" asp-for="SearchModel.Code" placeholder="کد">
                </div>
                <div class="col-12 mt-2">
                    <select class="form-control" asp-for="SearchModel.CategoryId" asp-items="Model.ProductCategories">
                        <option value="0">گروه محصولی ...</option>
                    </select>

                </div>
            </div>
            <div class="float-start">
                <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
            </div>
        </form>
    </div>
</div>

<div style="clear:both"></div>

<div class="col-12">
    <div class="demo-inline-spacing" permission="@ShopPermissions.CreateProduct">
        <a class="btn btn-outline-success" href="#showmodal=@Url.Page("./Index" , "Create")">
            <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; ایجاد محصول جدید
        </a>
    </div>
</div>

<hr />

<div class="card" permission="@ShopPermissions.ListProductCategories">
    <h5 class="card-header">لیست محصولات</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>عکس</th>
                    <th>نام</th>
                    <th>کد</th>
                    <th>گروه</th>
                    <th>تاریخ تولید</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            <img src="~/ProductPictures/@item.Picture" style="width: 70px; height: 70px" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Code</td>
                        <td>@item.Category</td>
                        <td>@item.CreationDate</td>
                        <td>
                            <a Permission="@ShopPermissions.EditProduct" class="btn btn-warning waves-effect waves-light m-b-5"
                               href="#showmodal=@Url.Page("./Index", "Edit", new { id = item.Id})">
                                <i class="fa fa-edit"></i> ویرایش
                            </a>
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>