@page
@using DiscountManagement.Configuration.Permissions;
@model ServiceHost.Areas.Administration.Pages.Discounts.ColleagueDiscount.IndexModel
@{
    ViewData["Title"] = "مدیریت تخفیف همکاران";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div permission="@DiscountPermission.SearchColleagueDiscounts">
    <div class="col-12">
        <h6 class="panel-title">جستجو در تخفیف همکاران</h6>
        <form method="get">
            <div class="row mb-3">
                <div class="col-12">
                    <select asp-items="Model.Products" class="form-control" asp-for="SearchModel.ProductId">
                        <option value="0">گروه محصولی ...</option>
                    </select>
                </div>
            </div>

            <div class="float-start">
                <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
            </div>

        </form>
    </div>
</div>

<div style="clear:both"></div>

<div class="col-12">
    <div class="demo-inline-spacing" permission="@DiscountPermission.DefineColleagueDiscount">
        <a class="btn btn-outline-success" href="#showmodal=@Url.Page("./Index" , "Create")">
            <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; تعریف تخفیف همکاران
        </a>
    </div>
</div>

<hr />

<div class="card" permission="@DiscountPermission.ListColleagueDiscounts">
    <h5 class="card-header">لیست تخفیف همکاران</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>محصول</th>
                    <th>درصد تخفیف</th>
                    <th>تاریخ تولید</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var colleagueDiscount in Model.Inventory)
                {
                    <tr>
                        <td>@colleagueDiscount.Id</td>
                        <td>@colleagueDiscount.Product</td>
                        <td>@colleagueDiscount.DiscountRate</td>
                        <td>@colleagueDiscount.CreationDate</td>
                        <td>
                            <a Permission="@DiscountPermission.EditColleagueDiscount" class="btn btn-warning waves-effect waves-light m-b-5"
                               href="#showmodal=@Url.Page("./Index", "Edit" , new {id = colleagueDiscount.Id})">
                                <i class="fa fa-edit"></i> ویرایش
                            </a>

                            @if (!colleagueDiscount.IsRemoved)
                            {
                                <a Permission="@DiscountPermission.RemoveColleagueDiscount" class="btn btn-danger waves-effect waves-light m-b-5" asp-page="./Index" asp-page-handler="Remove" asp-route-id="@colleagueDiscount.Id">حذف</a>
                            }
                            else
                            {
                                <a Permission="@DiscountPermission.RestoreColleagueDiscount" class="btn btn-success waves-effect waves-light m-b-5" asp-page="./Index" asp-page-handler="Restore" asp-route-id="@colleagueDiscount.Id">فعال سازی</a>
                            }

                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>
