@page
@using ShopManagement.Configuration.Permissions;
@model ServiceHost.Areas.Administration.Pages.Shop.ProductCategories.IndexModel
@{
    ViewData["title"] = "مدیریت گروه محصولات";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div permission="@ShopPermissions.SearchProductCategories">
    <div class="col-12">
        <h3 class="panel-title">جستجو در گروه محصولات</h3>
        <form method="get">
            <div class="d-flex mb-4">
                <input class="form-control" asp-for="SearchModel.Name" placeholder="نام گروه محصولی">
            </div>
            <div class="float-start">
                <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
            </div>
        </form>
    </div>
</div>

<div style="clear:both"></div>

<div class="col-12">
    <div class="demo-inline-spacing" permission="@ShopPermissions.CreateProductCategory">
        <a class="btn btn-outline-success" href="#showmodal=@Url.Page("./Index" , "Create")">
            <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; ایجاد گروه محصول جدید
        </a>
    </div>
</div>

<hr />

<div class="card" permission="@ShopPermissions.ListProductCategories">
    <h5 class="card-header">لیست کاربران</h5>
    <div class="card-datatable table-responsive">
        <table class="dt-responsive table border-top">
            <thead>
                <tr>
                    <th>#</th>
                    <th>عکس</th>
                    <th>نام</th>
                    <th>تاریخ تولید</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var item in Model.ProductCategories)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            <img src="~/ProductPictures/@item.Picture" style="width: 70px; height: 70px" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.CreationDate</td>
                        <td>
                            <a permission="@ShopPermissions.EditProductCategory" class="btn btn-warning pull-right m-rl-5"
                               href="#showmodal=@Url.Page("./Index", "Edit", new { id = item.Id})">
                                <i class="fa fa-edit"></i> ویرایش
                            </a>
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>