@page
@using ShopManagement.Infrastructure.Configuration.Permissions;
@model ServiceHost.Areas.Administration.Pages.Shop.Slides.IndexModel
@{
    ViewData["title"] = "لیست اسلاید ها";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">@ViewData["title"]</span>
</h4>

<div class="col-12">
    <div class="demo-inline-spacing" permission="@ShopPermissions.CreateSlide">
        <a class="btn btn-outline-success" href="#showmodal=@Url.Page("./Index" , "Create")">
            <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; ایجاد اسلاید جدید
        </a>
    </div>
</div>

<hr />

<div class="card" permission="@ShopPermissions.ListProductCategories">
    <h5 class="card-header">لیست اسلاید ها</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>عکس</th>
                    <th>سر تیتر</th>
                    <th>عنوان</th>
                    <th>وضعیت</th>
                    <th>تاریخ تولید </th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tfoot>
                @foreach (var slide in Model.Slides)
                {
                    <tr>
                        <td>@slide.Id</td>
                        <td>
                            <img src="~/ProductPictures/@slide.Picture" style="width: 70px; height: 70px" />
                        </td>
                        <td>@slide.Heading</td>
                        <td>@slide.Title</td>

                        <td class="text-center">
                            @if (!slide.IsRemoved)
                            {
                                <i class="fa fa-check fa-3x text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-remove fa-3x text-danger"></i>

                            }
                        </td>

                        <td>@slide.CreationDate</td>
                        <td>
                            <a Permission="@ShopPermissions.EditSlide" class="btn btn-warning waves-effect waves-light m-b-5"
                               href="#showmodal=@Url.Page("./Index", "Edit" , new {id = slide.Id})">
                                <i class="fa fa-edit"></i> ویرایش
                            </a>
                            @if (!slide.IsRemoved)
                            {
                                <a Permission="@ShopPermissions.RemoveSlide" class="btn btn-danger waves-effect waves-light m-b-5" asp-page="./Index" asp-page-handler="Remove" asp-route-id="@slide.Id">حذف</a>
                            }
                            else
                            {
                                <a Permission="@ShopPermissions.RestoreSlide" class="btn btn-success waves-effect waves-light m-b-5" asp-page="./Index" asp-page-handler="Restore" asp-route-id="@slide.Id">فعال سازی</a>
                            }
                        </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>